@import "tailwindcss";

@theme{
  --color-brand-blue:#4361EE;
  --color-brand-purple:#7209B7;
  --color-brand-lightblue:#DBEAFE;
  --color-brand-lightpurple:#F3E8FF;
  --color-brand-grey:#D1D5DB;
  --color-brand-violet:#5350DE;
  --color-brand-green:#1DAE53;
  --color-brand-red:#EF4444;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@theme{
  --animate-float: float 2s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
  width:100vw; height:100vh; overflow-x:hidden;
  display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start;
}

html, body{
  overflow-y:hidden;
}
